In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import tree
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

sns.set_theme(style="ticks",color_codes=True)

In [2]:
dataset_filename = "./data/adult.data.csv"
df_all = pd.read_csv(dataset_filename, delimiter=',', header=None,
                 names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
                        'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
                        'hours-per-week', 'native-country','income'], skipinitialspace=True)

print(df_all)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [3]:
pip list | findstr pandas

pandas                        2.0.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
from wordcloud import WordCloud

SyntaxError: invalid syntax (279920983.py, line 3)

In [ ]:
columns = ['marital-status', 'relationship']
df = df_all[columns + ['income']]
print(df)
print('-=' * 30 + '-')

pd.plotting.parallel_coordinates(df, class_column = 'income', color = ['blue', 'red'])

In [ ]:
columns = ['age', 'capital-gain', 'income']
df = df_all[columns]
# print(df)
# print('-=' * 30 + '-')

dfLow = df[df['income'] == '<=50K'][['age', 'capital-gain']]
# print(dfLow)
# print('-=' * 30 + '-')

dfHigh = df[df['income'] == '>50K'][['age', 'capital-gain']]
# print(dfHigh)
# print('-=' * 30 + '-')

fig, ax = plt.subplots(figsize = (10, 6))

agesHigh = np.array(dfHigh['age'])
capHigh = np.array(dfHigh['capital-gain'])
scale = 250.0 * np.random.rand(len(agesHigh))
ax.scatter(agesHigh, capHigh, s = scale, c = 'orange', alpha=0.5, edgecolors='none', label='>50K')

agesLow = np.array(dfLow['age'])
capsLow = np.array(dfLow['capital-gain'])
scale = 250.0 * np.random.rand(len(agesLow))
ax.scatter(agesLow, capsLow, s = scale, c = 'green', alpha=0.5, edgecolors='none', label='<=50K')

ax.set_xlabel('Age')
ax.set_ylabel('Capital-gain')
ax.legend()

plt.show()